<header>
    <nav class="navbar navbar-light bg-light border-3 border-botom border-primary">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">                
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNavegacion" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Informacion</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Ubicacion</a></li>
                </ul>
            </div>
            <button>
                <span>Carrito</span>
            </button>
        </div>    
    </nav>
</header>
